@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url("https://use.typekit.net/lch4hdh.css");

/* index */
body {
    font-family: "Afacad Flux", sans-serif;
}
header {
    border-bottom: lightgray solid;
    padding-bottom: 3%;
}
.header_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.header_nav a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 20% 5%;
    align-self: center;
    font-size: 1em;
}
.header_nav a:hover{
    font-size: 1.3em;
    color: #FF6B6C;
}
.header_div {
    display: flex;
    flex-direction: column;
}
.menu_button {
    align-self: center;
    width: 30%;
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: "Afacad Flux";
    font-size: 2em;
    background-color: none;
    border: none;
    border-radius: 10%;
    font-weight: 300;
}
.name {
    font-family: "memimas-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 10%;
}
.main_div a {
    text-decoration: none;
    color: black;
    text-align: center;
}
.about_me_section, .graphic_design_section, .programming_projects_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10% 5%;
}
.about_me_section a, .graphic_design_section a, .programming_projects_section a{
    z-index: 6;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);  ;
    padding: 5% 5%;
    font-size: 1.5em;
    border-radius: 4%;
}
.main:hover{
    font-size: 2em;
    color: #FF6B6C;
}
.pattern{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4%;
}
.footer_div {
    display: flex;
    justify-content: space-evenly;
    border-top: lightgray solid;
    padding-top: 10%;
    padding-bottom: 10%;
}
.footer_img {
    width: 70px;
    height: 70px;
}
.hide {
    display: none;
}

/* about me */
.about_me_page {
    display: grid;
    grid-template-columns: 1fr;
}
.about_me_page h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
}
.about_me_page img {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10% 0;
    justify-self: center;
}
.about_me_page h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 5%;
    font-weight: 300;
}
.about_me_page a {
    text-align: center;
    font-size: 1.75em;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: black;
    background-color: rgb(234, 232, 232);
    font-weight: 200;
    margin: 10% auto;
    padding: 3%;
}
.about_me_page a:hover{
    color: #FF6B6C;
    font-size: 2em;
}

/* graphic design projects */
.graphicProject {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-bottom: lightgray solid;
}
.graphicProject:last-of-type{
    border-bottom: none;
}
.graphicProject img {
    width: 325px;
    padding-bottom: 10%;
    justify-self: center;
    cursor: pointer;
}
.graphicProject a {
    text-decoration: none;
    color: black;
    background-color: rgb(234, 232, 232);
    font-size: 1.5em;
    width: fit-content;
    height: fit-content;
    margin: 10% auto;
    padding: 2.5%;
}
.graphicProject a:hover {
    color: #FF6B6C;
    font-size: 2.25em;
}
.graphicProject h1 {
    font-size: 2.5em;
    margin-top: 15%;
    font-weight: 400;
}
.graphicProject h2 {
    font-size: 1.6em;
    margin: 5%;
    margin-bottom: 15%;
    font-weight: 300;
}
.title {
    text-align: center;
    font-size: 2.5em;
    margin-top: 10%;
}
.viewer {
    display: none;
}
 /* programming projects */
.programmingTitle {
    text-align: center;
    font-size: 2.5em;
    margin-top: 10%;
}
.programmingProject {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    border-bottom: lightgray solid;
}
.programmingProject:last-of-type{
    border-bottom: none;
}
.programmingProject a {
    text-decoration: none;
    color: black;
    background-color: rgb(234, 232, 232);
    font-size: 1.5em;
    width: fit-content;
    height: fit-content;
    margin: 10% auto;
    padding: 2.5%;
}
.programmingProject a:hover {
    color: #FF6B6C;
    font-size: 2.25em;
}
.programmingProject h1 {
    font-size: 2.5em;
    margin-top: 10%;
    font-weight: 400;
}
.programmingProject h2 {
    font-size: 1.6em;
    margin: 5%;
    margin-bottom: 5%;
    font-weight: 300;
}

@media screen and (min-width: 700px) {
    /* index */
    body {
        margin: 0 10%;
    }
    .menu_button {
        display: none;
    }
    .header_nav {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    }
    .header_nav a {
        font-size: 1.25em;
    }
    .header_nav a:hover {
        font-size: 1.5em;
    }
    .name {
        font-size: 6em;
    }
    /* about me */
    .about_me_page h1 {
        font-size: 3.5em;
    }
    .about_me_page img {
        width: 400px;
        height: 400px;
    }
    .about_me_page h2 {
        font-size: 1.75em;
    }  
    /* graphic design projects */
    .title {
        font-size: 3em;
    }
    .graphicProject {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 3%;
    }
    .description {
        align-self: center;
    }
    .graphicProject img {
        grid-column: 2/3;
        align-self: center;
        padding-left: 3%;
        width: 275px;
    }
    .graphicProject img:hover{
        width: 300px;
    }
    .graphicProject h1 {
        font-size: 2em;
    }
    .graphicProject h2 {
        grid-column: 1/2;
        font-size: 1.25em;
    }
    .graphicProject a {
        height: fit-content;
        align-self: center;
        font-size: 1.25em;
    }
    .graphicProject a:hover {
        font-size: 1.5em;
    }
    .posterProject {
        grid-row: 1/3;
    }
    /* picture viewer */
    .viewer-picture{
        width: 90%;
        max-height: 76vh;
        height: auto;
        object-fit: contain;
    }
    .close-viewer{
        background: none;
        color: black;
        font-size: 2em;
        border: none;
        text-align: center;
        height: fit-content;
        margin-top: 3%;
        cursor: pointer;
    }
    .close-viewer:hover {
        font-size: 2.5em;
        color: #FF6B6C;
    }
    .viewer{
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background-color: rgba(234, 232, 232, 0.85);
        display: grid;
        margin: 5%;
        place-items: center;
    }
    /* programming project */
    .programmingTitle {
        font-size: 3em;
    }
    .programmingProject h1 {
        font-size: 2.5em;
    }
    .programmingProject h2 {
        font-size: 1.5em;
    }
    .programmingProject a {
        font-size: 1.5em;
    }
    .programmingProject a:hover {
        font-size: 1.75em;
    }
}

@media screen and (min-width: 1100px) {
    /* index */
    body {
        margin: 0 15%;
    }
    .pattern{
        height: 300px;
        width: 90%;
    }
    .about_me_section a, .graphic_design_section a, .programming_projects_section a{
        font-size: 3em;
    }
    .main:hover{
        font-size: 3.25em;
    }
    .name {
        font-size: 5em;
    }
    .header_nav a {
        font-size: 1.75em;
    }
    .header_nav a:hover{
        font-size: 1.8em;
    }
    /* about me */
    .about_me_page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about_me_page h1 {
        grid-column: 1/3;
        font-size: 3em;
    }
    .about_me_page img {
        grid-column: 1/2;
        height: 400px;
        width: 400px;
    }
    .about_me_page h2 {
        grid-column: 2/3;
        font-size: 1.4em;
        align-self: center;
        padding-left: 5%;
    }
    .about_me_page a {
        grid-column: 1/3;
        justify-self: center;
        font-size: 2em;
    }
    .about_me_page a:hover {
        font-size: 2.25em;
    }
    /* graphic design projects */
    .graphicProject img {
        width: 400px;
    }
    .graphicProject img:hover{
        width: 450px;
    }
    .graphicProject a {
        font-size: 1.5em;
    }
    .graphicProject a:hover {
        font-size: 1.75em;
    }
    .graphicProject h1 {
        font-size: 2em;
    }
    .graphicProject h2 {
        font-size: 1.5em;
        margin: 10%;
    }
    .title {
        font-size: 3em;
    }
    /* viewer */
    .viewer-picture{
        width: auto;
        max-height: 76vh;
        max-width: 100vh;
        height: 90%;
    }
    .viewer{
        margin: 2.5% 15%;
        display: flex;
        justify-content: space-evenly;
    }
    .close-viewer{
        font-size: 3em;
    }
    .close-viewer:hover {
        font-size: 3.5em;
    }
    /* programming project */
    .programmingTitle {
        font-size: 3.5em;
    }
    .programmingProject h1 {
        font-size: 2.75em;
    }
    .programmingProject h2 {
        font-size: 1.75em;
        margin: 10% 20%;
        margin-bottom: 0;
    }
    .programmingProject a {
        font-size: 1.5em;
    }
    .programmingProject a:hover {
        font-size: 1.75em;
    }
}