<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alayna Hart">
    <meta name="description" content="A portfolio showcasing the graphic design and programming projects of Alayna Hart">
    <title>Alayna Hart | Portfolio</title>
    <link rel="icon" href="images/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="canonical" href="https://amhart02.github.io/portfolio/index.html">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/lch4hdh.css">
</head>
<body>
    <header>
        <h1>Hi I'm</h1>
        <h2>Alayna Hart</h2>
        <h3>Web Designer and Developer</h3>
        <div class="menu-icon">
            <span></span>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <hr>
            <li><a href="graphicDesignProjects.html">Graphic Design</a></li>
            <hr>
            <li><a href="programmingProjects.html">Programming</a></li>
            <hr>
            <li><a href="websiteProjects.html">Websites</a></li>
        </ul>
    </nav>
    <main class="index_page">
        <img src="images/alaynaPicture.jpg" alt="Picture of Alayna Hart">
        <p>A senior at BYU-Idaho studying Web Design and Development, minoring in computer programming. I care about clean code, accessible design, and thoughtful user experiences!</p>
        <a class="a-button" href="images/Official Resume Alayna Hart.pdf" target="_blank">My Resume</a>
        <ul>
            <li><a href="graphicDesignProjects.html">Graphic Design</a></li>
            <li><a href="programmingProjects.html">Programming</a></li>
            <li><a href="websiteProjects.html">Websites</a></li>
        </ul>
    </main>
    <footer>
            <p>Message me with any questions!</p>
            <div>
                <a href="mailto:har20010@byui.edu" target="_blank" rel="noopener noreferrer"><img class="footer_img" src="images/gmail_logo.png" alt="Black and White Gmail Logo"></a>
                <a href="https://github.com/amhart02" target="_blank" rel="noopener noreferrer"><img class="footer_img" src="images/github_logo.png" alt="GitHub Logo"></a>
                <a href="https://www.linkedin.com/in/alayna-hart2" target="_blank" rel="noopener noreferrer"><img class="footer_img" src="images/clipart1619304.png" alt="Black and White LinkedIn Logo"></a>
            </div>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>