<%- include('partials/header') %>
    <main class="index_page">
        <div class="intro">
            <img src="images/alaynaPicture.jpg" alt="Picture of Alayna Hart">
            <div>
                <p>A senior at BYU-Idaho studying Web Design and Development, minoring in computer programming. I care about clean code, accessible design, and thoughtful user experiences!</p>
                <a class="a-button" href="images/alaynahartresume.pdf" target="_blank">My Resume</a>
            </div>
        </div>
        <ul>
            <li><a href="/graphicDesign">Graphic Design</a></li>
            <li><a href="/programming">Programming</a></li>
            <li><a href="/websites">Websites</a></li>
        </ul>
    </main>
<%- include('partials/footer') %>
