<footer>
            <p>Message me with any questions!</p>
            <div>
                <a href="mailto:har20010@byui.edu" target="_blank" rel="noopener noreferrer"><img class="footer_img" src="images/gmail_logo.png" alt="Black and White Gmail Logo"></a>
                <a href="https://github.com/amhart02" target="_blank" rel="noopener noreferrer"><img class="footer_img" src="images/github_logo.png" alt="GitHub Logo"></a>
                <a href="https://www.linkedin.com/in/alayna-hart2" target="_blank" rel="noopener noreferrer"><img class="footer_img" src="images/clipart1619304.png" alt="Black and White LinkedIn Logo"></a>
            </div>
    </footer>
    <script type="module" src="js/main.js"></script>
</body>
</html>