<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alayna Hart">
    <meta name="description" content="A portfolio showcasing the graphic design and programming projects of Alayna Hart">
    <title><%= title %></title>
    <link rel="icon" href="/images/icons/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/"><%= h1 %></a></h1>
        <h2><%= h2 %></h2>
        <h3><%= h3 %></h3>
        <div class="menu-icon">
            <span></span>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <hr>
            <li><a href="/graphicDesign">Graphic Design</a></li>
            <hr>
            <li><a href="/programming">Programming</a></li>
            <hr>
            <li><a href="/websites">Websites</a></li>
        </ul>
    </nav>