$font: "Quicksand", sans-serif;
$bold: 600;
$regular: 500;
$black: hsl(0, 0%, 0%);
$pink: hwb(0 57% 2%);
$light-pink: hwb(0 69% 4%);
$light-gray: hsl(0, 0%, 83%);
$white: hsl(0, 5%, 90%);

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    font-weight: $regular;
}

a {
    text-decoration: none;
}

.a-button {
    text-align: center;
    font-size: 1.5rem;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: $black;
    background-color: $white;
    transition: $white 0.3s ease;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    &:hover{
        background-color: $light-pink;
    }
}

.menu-icon {
    width: 50px;
    height: 75px;
    cursor: pointer;
    position: absolute;
    z-index: 50;
    top: 1rem;
    right: 1rem;
    transition: left 0.3s ease;
    justify-self: right;
    margin-right: 1rem;
    span,
    span::before,
    span::after {
        content: "";
        position: absolute;
        height: 7.5px;
        width: 100%;
        background-color: $black;
        transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
        border-radius: 10px;
    }
    span {
        top: 50%;
        transform: translateY(-50%);
    }
    span::before {
        top: -15px;
    }
    span::after {
        top: 15px;
    }
}

.menu-icon:hover span,
.menu-icon:hover span::before,
.menu-icon:hover span::after{
    background-color: $black;
}

.menu-icon.open {
    left: 1rem;
    position: fixed;
    span {
        background-color: transparent; 
    }
    & span::before {
        transform: rotate(45deg);
        top: 0;
        background-color: $white
    }
    & span::after {
        transform: rotate(-45deg);
        top: 0;
        background-color: $white;
    }
    &:hover span::before,
    &:hover span::after {
        background-color: $light-gray;
    }
}

header {
    padding: 7rem 1.5rem 5rem 1.5rem;
    background-color: $pink;
    background: linear-gradient(to bottom, $pink 0%, $white 50rem);
    h1 {
        margin: 0;
        font-size: 1.5rem;
    }
    h2 {
        font-family: $font;
        font-size: 3.5rem;
        margin: 0;
        font-weight: $bold;
    }
    h3 {
        text-align: left;
        font-size: 1.25rem;
        margin-top: 2rem;
    }
    a {
        color: $black;
    }
}

nav {
    position: fixed;
    left: -3000px; 
    top: 0;
    background-color: $black;
    width: 100%;
    height: 100%;
    padding: 4rem 0;
    font-size: 2rem;
    z-index: 10;
    ul {
        padding: 0;
    }
    li {
        padding: 2rem 3rem;
    }
    a {
        color: $white;
        &:hover {
            color: $light-gray;
        }
    }
}
nav.open {
    left: 0;
}


.index_page {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    img {
        border-radius: 100%;
        width: 275px;
        height: 275px;
        object-fit: cover;
        justify-self: center;
        margin-bottom: -5rem;
        z-index: 5
    }
    p {
        position: relative;
        padding: 6rem 2.5rem 5rem 2.5rem;
        font-size: 1.25rem;
        background-color: $light-gray;
    }
    a:nth-of-type(1) {
        margin-top: -3rem;
        z-index: 6;
        background-color: $light-pink;
    }
    ul {
        margin: 0;
        list-style-type: none;
        padding: 5rem 2rem 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
            padding: 0;
            margin: 2rem;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 250px;
            font-size: 1.25rem;
            color: $black;
            border-radius: 100%;
            font-weight: $bold;
        }
        li:nth-of-type(1) {
            a {
                background-color: $pink;
            }
        }
        li:nth-of-type(2) {
            a {
                background-color: $light-pink;
            }
        }
        li:nth-of-type(3) {
            a {
                background-color: $light-gray;
            }
        }
    }
}

.projects {
    margin: 2rem 0;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        margin: 5rem 3rem;
    }
    div:nth-of-type(even) a {
        align-self: flex-start;
    }
    div:nth-of-type(even) h4 {
        align-self: flex-end;
    }
    .programming {
        background-color: $light-gray;
    }
    h4 {
        background-color: $pink;
        margin: -1.5rem -3rem;
        z-index: 6;
        padding: 0.75rem;
        border-radius: 8px;
        font-size: 1rem;
        align-self: flex-start;
        background: linear-gradient(to right, $pink 0%, $light-pink 10rem);
    }
    img {
        width: 100%;
        height: auto;
        background-color: $light-gray;
        border-radius: 8px;
        padding: 4rem 1.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    a {
        background-color: $light-pink;
        color: $black;
        z-index: 6;
        padding: 0.75rem;
        border-radius: 8px;
        font-size: 1rem;
        margin: -1.5rem -3rem;
        align-self: flex-end;
        background: linear-gradient(to left, $pink 0%, $light-pink 6rem);
    }
}



footer {
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    background: linear-gradient(to top, $pink 0%, $white 20rem);
    p {
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        transition: transform ease 0.3s;
        &:hover {
            transform: scale(1.1)
        }
    } 
    div {
        display: flex;
        justify-content: space-between;
    }
}

//add media queries

// Mobile optimizations
@media (max-width: 768px) {
    header {
        padding: 5rem 1rem 3rem 1rem;
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1.1rem;
        }
    }

    .index_page {
        padding: 2rem 0;
        img {
            width: 200px;
            height: 200px;
            margin-bottom: -3rem;
        }
        p {
            padding: 4rem 1.5rem 3rem 1.5rem;
            font-size: 1.1rem;
        }
        a:nth-of-type(1) {
            margin-top: -2rem;
        }
        ul {
            padding: 3rem 1rem 0 1rem;
            li {
                margin: 1.5rem;
            }
            a {
                width: 180px;
                height: 180px;
                font-size: 1.1rem;
            }
        }
    }

    .projects {
        margin: 1rem 0;
        div {
            margin: 3rem 1rem;
            padding: 1rem;
        }
        h4 {
            margin: -1rem -1rem 1rem -1rem;
            padding: 0.75rem 1rem;
            font-size: 1.1rem;
            background: $pink;
        }
        img {
            padding: 2rem 1rem;
            margin: 1rem 0;
        }
        a {
            margin: 1rem -1rem -1rem -1rem;
            padding: 0.75rem 1rem;
            font-size: 1rem;
            background: $light-pink;
            align-self: stretch !important;
            text-align: center;
        }
        div:nth-of-type(even) a {
            align-self: stretch !important;
        }
        div:nth-of-type(even) h4 {
            align-self: stretch;
            text-align: left;
        }
        .programming {
            p {
                margin: 0.5rem 0;
                font-size: 0.95rem;
                line-height: 1.4;
            }
        }
    }

    footer {
        padding: 2rem 1.5rem;
        p {
            font-size: 0.9rem;
        }
        div {
            justify-content: center;
            gap: 2rem;
        }
    }

    nav {
        padding: 3rem 0;
        font-size: 1.5rem;
        li {
            padding: 1.5rem 2rem;
        }
    }

    .menu-icon {
        width: 40px;
        height: 60px;
        top: 1.5rem;
        right: 1.5rem;
        span,
        span::before,
        span::after {
            height: 6px;
        }
        span::before {
            top: -12px;
        }
        span::after {
            top: 12px;
        }
    }

    .a-button {
        font-size: 1.2rem;
        padding: 0.8rem 1.2rem;
        margin: 0.8rem auto;
    }
}

// Small mobile devices
@media (max-width: 480px) {
    header {
        padding: 4rem 0.8rem 2.5rem 0.8rem;
        h1 {
            font-size: 1.3rem;
        }
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1rem;
            margin-top: 1.5rem;
        }
    }

    .index_page {
        img {
            width: 150px;
            height: 150px;
        }
        p {
            padding: 3rem 1rem 2.5rem 1rem;
            font-size: 1rem;
        }
        ul a {
            width: 140px;
            height: 140px;
            font-size: 1rem;
        }
    }

    .projects {
        div {
            margin: 2rem 0.5rem;
            padding: 0.8rem;
        }
        h4 {
            margin: -0.8rem -0.8rem 1rem -0.8rem;
            font-size: 1rem;
        }
        a {
            margin: 1rem -0.8rem -0.8rem -0.8rem;
            font-size: 0.9rem;
        }
        .programming p {
            font-size: 0.9rem;
        }
    }

    footer {
        padding: 1.5rem 1rem;
        div {
            gap: 1.5rem;
        }
        img {
            width: 35px;
            height: 35px;
        }
    }
}